## SetB

## 1. Write a R program to reverse a number and also calculate the sum of digits of that number.

In [ ]:
rev():
In R, the rev function is used to reverse the elements of a vector or other objects such as lists. 
The basic syntax for rev is:
rev(x)
Here, x is the vector or object to be reversed.

In [ ]:
strsplit():
In R, the strsplit function is used to split the elements of a character vector into substrings. 
The basic syntax for strsplit is:
strsplit(x, split, fixed = FALSE, perl = FALSE, useBytes = FALSE)

Here is a breakdown of the arguments:
x: A character vector whose elements are to be split.
split: A character string containing a regular expression (or a fixed string) to use for splitting.
fixed: Logical. If TRUE, split is used as a fixed string to split the input.
perl: Logical. If TRUE, split is interpreted as a Perl-compatible regular expression.
useBytes: Logical. If TRUE, the matching is done byte-by-byte rather than character-by-character.

In [ ]:
strsplit(strnum1, NULL): This splits the string strnum1 into its individual characters.
The split argument is NULL, which tells strsplit to split the string into single characters. 
The result is a list where the first element is a character vector of the individual characters of the string.

[[1]]: This extracts the first (and only) element of the list, 
which is the character vector of individual characters.

rev(): This function reverses the order of elements in the character vector.

In [43]:
var1<-as.integer(234)
cat("var1=",var1,"\n")
strnum1=as.character(var1)
cat("strnum1=",strnum1,"\n")
revnum=rev(strsplit(strnum1,NULL)[[1]])
revnum2=rev(strsplit(strnum1,NULL))
print(revnum2)
cat("class revnum2-",class(revnum2),"\n")
cat("revnum=",revnum,"class=",class(revnum),"\n")
sum=0
for(d in revnum){
    sum=sum+as.integer(d)
}
cat("totalsum=",sum,"class=",class(sum),"\n")

var1= 234
strnum1= 234
[[1]]
[1] "2" "3" "4"

class revnum2- list
revnum= 4 3 2 class= character
totalsum= 9 class= numeric

## 2. Write a R program to calculate the sum of two matrices of given size.

In [ ]:
matrix: In R, a matrix is a two-dimensional array where all elements are of the same type.

matrix():
The matrix function in R is used to create a matrix from a vector of elements.
Syntax:
matrix(data, nrow, ncol, byrow = FALSE, dimnames = NULL)
Arguments:
data: The vector of elements to fill the matrix.
nrow: The number of rows in the matrix.
ncol: The number of columns in the matrix.
byrow: Logical. If FALSE (the default), the matrix is filled by columns. If TRUE, the matrix is filled by rows.
dimnames: A list of two components for row and column names.

In [60]:
mat<-matrix(c(1,1,2,2,3,3),nrow=2,ncol=3)
print(mat)

     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    1    2    3

In [3]:
s1<-as.integer(readline("enter row size:"))
s2<-as.integer(readline("enter col size:"))
mat1<-matrix(1:100,nrow=s1,ncol=s2,byrow=TRUE)
mat2<-matrix(1:100,nrow=s1,ncol=s2,byrow=TRUE)
message("matrix.1:")
print(mat1)
message("matrix.2:")
print(mat2)
sum_Matrix=mat1+mat2
message("sumMat=:")
print(sum_Matrix)

enter row size: 4
enter col size: 4

matrix.1:

     [,1] [,2] [,3] [,4]
[1,]    1    2    3    4
[2,]    5    6    7    8
[3,]    9   10   11   12
[4,]   13   14   15   16

matrix.2:

     [,1] [,2] [,3] [,4]
[1,]    1    2    3    4
[2,]    5    6    7    8
[3,]    9   10   11   12
[4,]   13   14   15   16

sumMat=:

     [,1] [,2] [,3] [,4]
[1,]    2    4    6    8
[2,]   10   12   14   16
[3,]   18   20   22   24
[4,]   26   28   30   32

## 3. Write a R program to concatenate two given factors.

In [ ]:
factors:
In R, a factor is a data structure used for fields that take on a limited number of unique values.
->which take only predefined finite number of values.
->These are the variable which takes a limited number of different values.
->These are the data objects which are used to store categorical data as levels.
->It can store both integers and strings values, and are useful in the column that has a limited number of unique values.
->By default R always sorts levels in alphabetical order.

categorical Data:
Categorical data refers to variables that can be divided into different categories but do not have a meaningful numerical value.
These categories can be either nominal (no intrinsic order) or ordinal (with a clear order).

Types of Categorical Data
Nominal Data:
Categories without an inherent order.
Examples: Gender (Male, Female), Blood Type (A, B, AB, O).

Ordinal Data:
Categories with a clear, ordered relationship.
Examples: Education Level (High School, Bachelor's, Master's, PhD), Rating (Poor, Fair, Good, Excellent).

fields:
In the context of R and data analysis, "fields" typically refer to the columns in a dataset.

In [ ]:
Syntax:
    factor(x, levels = sort(unique(x)), labels = levels, exclude = NA, ordered = is.ordered(x), ...)

x: A vector of data.
levels: A vector specifying the unique levels (optional).
labels: A vector specifying the labels for the levels (optional).
exclude: A set of values to be excluded (default is NA).
ordered: A logical value indicating whether the factor is ordered (default is FALSE).
...: Additional arguments.

Attributes of Factor
->X:It is the input vector which is to be transformed into a factor.
->levels:It is an input vector that represents a set of unique values which are taken by x.
->labels:It is a character vector which corresponds to the number of labels.
->Exclude:It is used to specify the value which we want to be excluded,
->ordered:It is a logical attribute which determines if the levels are ordered.
->nmax: It is used to specify the upper bound for the maximum number of level.

In [16]:
#create a simple Factor:
x=c("male","female","male","female","female","female","male")
message("x=")
print(x)
message("class of x=")
print(class(x))
Gender<-factor(x,levels=unique(x))
message("Factor=")
print(Gender)
Gender<-factor(x,levels=unique(x),labels=c("m","f"))
message("Factor=")
print(Gender)

x=

[1] "male"   "female" "male"   "female" "female" "female" "male"

class of x=

[1] "character"

Factor=

[1] male   female male   female female female male
Levels: male female

Factor=

[1] m f m f f f m
Levels: m f

In [ ]:
Concatenation:
Concatenation is the process of joining two or more items together in a sequence. 
In programming and data manipulation, concatenation typically refers to combining strings, vectors, arrays, or other data structures end-to-end. 
The resulting sequence contains all elements of the original sequences in the specified order.

Vectors: Use c() to concatenate vectors.
Strings: Use paste() with a separator or paste0() without a separator.
Data Frames: Use mutate() with paste() or paste0() to concatenate columns within a data frame.
Rows of Data Frames: Use rbind() to concatenate rows of data frames.
Columns of Data Frames: Use cbind() to concatenate columns of data frames.

In [ ]:
levels() gives us the unique levels in factor.

c() concatenates these levels into a single vector.

factor(...) then creates a new factor using the concatenated levels.

In [44]:
x=c("male","female","male","female","female","female","male")
# A+,A-,B+,B-,AB+,AB-,O+,O-
bg=c("A+","AB-","O+","B+","B+")
message("x=")
print(x)
message("class of x=")
print(class(x))
message("bg=")
print(bg)
message("class of bg=")
print(class(bg))

Gender<-factor(x,levels=unique(x))
BloodGroup<-factor(bg,levels=unique(bg))
message("Factor Gender=")
print(Gender)
message("Factor BloodGroup=")
print(BloodGroup)

#question logic
humans=factor(c(levels(Gender),levels(BloodGroup)))
message("Concatenate Factor humans=")
print(humans)

Gender<-factor(x,levels=unique(x),labels=c("m","f"))
message("Factor=")
print(Gender)
BloodGroup<-factor(bg,levels=c("A","B","O"))
message("Factor BloodGroup=")
print(BloodGroup)

vect1=c("A","A","B","C","D")
vect2=c("D","B","C","C","A")
#create factor
factor1=factor(vect1,levels=unique(vect1))
message("Factor1=")
print(factor1)
factor2=factor(vect2,levels=unique(vect2))
message("Factor2=")
print(factor2)
#concatenate
concat_factor=factor(c(levels(factor1),levels(factor2)))
message("concat_factor=")
print(concat_factor)

x=

[1] "male"   "female" "male"   "female" "female" "female" "male"

class of x=

[1] "character"

bg=

[1] "A+"  "AB-" "O+"  "B+"  "B+"

class of bg=

[1] "character"

Factor Gender=

[1] male   female male   female female female male
Levels: male female

Factor BloodGroup=

[1] A+  AB- O+  B+  B+
Levels: A+ AB- O+ B+

Concatenate Factor humans=

[1] male   female A+     AB-    O+     B+
Levels: A+ AB- B+ female male O+

Factor=

[1] m f m f f f m
Levels: m f

Factor BloodGroup=

[1] <NA> <NA> <NA> <NA> <NA>
Levels: A B O

Factor1=

[1] A A B C D
Levels: A B C D

Factor2=

[1] D B C C A
Levels: D B C A

concat_factor=

[1] A B C D D B C A
Levels: A B C D

## 4. Write a R program to create a data frame using two given vectors and display the duplicate elements

In [ ]:
What is a Dataset?
A Dataset is a set of data grouped into a collection with which developers can work to meet their goals. 
In a dataset, the rows represent the number of data points and the columns represent the features of the Dataset. 
They are mostly used in fields like machine learning, business, 
and government to gain insights, make informed decisions, or train algorithms. 
Datasets may vary in size and complexity and they mostly require cleaning and preprocessing 
to ensure data quality and suitability for analysis or modeling.

In [ ]:
In R, a data frame is a key data structure used for storing data tables. 
It is essentially a list of vectors of equal length, 
where each vector represents a column, and each element within the vector represents a row.

In [ ]:
There are following characteristics of a data frame.
o The columns name should be non-empty.
o The rows name should be unique.
o The data which is stored in a data frame can be a factor, numeric, or character
type.
o Each column contains the same number of data items

In [ ]:
data.frame():
data.frame() function to combine these vectors into a data frame.

In [ ]:
duplicated():
In R, the duplicated() function is used to identify duplicate elements in a vector or rows in a data frame. 
When used with a data frame, duplicated() returns a logical vector indicating whether each row is a duplicate of a previous row.

In [28]:
#creating a Data Frame
product=c("chips","soft drink","chocolate","chocolate","chips","icecream")
prices=c(20,45,50,50,20,90)
df=data.frame(product,prices)
message("DataFrame=")
print(df)
message("Extracting data from Data Frame=")
print(df[1])
message("duplicate values result:logical from Data Frame=")
duplicates=duplicated(df)
print(duplicates)
message("duplicate values  result:dataValues from Data Frame=")
duplicates=df[duplicated(df),]
print(duplicates)
message("duplicate values  result:values with specific ColName from Data Frame=")
duplicates=df[duplicated(df),"product"]
print(duplicates)

DataFrame=

     product prices
1      chips     20
2 soft drink     45
3  chocolate     50
4  chocolate     50
5      chips     20
6   icecream     90

Extracting data from Data Frame=

     product
1      chips
2 soft drink
3  chocolate
4  chocolate
5      chips
6   icecream

duplicate values result:logical from Data Frame=

[1] FALSE FALSE FALSE  TRUE  TRUE FALSE

duplicate values  result:dataValues from Data Frame=

    product prices
4 chocolate     50
5     chips     20

duplicate values  result:values with specific ColName from Data Frame=

[1] chocolate chips
Levels: chips chocolate icecream soft drink

In [ ]:
Explanation of  df[duplicated(df),]:
df: This is the data frame you are working with.
duplicated(df): This function returns a logical vector indicating which rows in the data frame are duplicates of previous rows.
df[duplicated(df), ]: This is a subsetting operation.
df[...]: The brackets [...] are used for subsetting data frames.
duplicated(df): Inside the brackets, this logical vector specifies which rows to keep. It returns TRUE for duplicate rows and FALSE otherwise.
,: The comma separates row indices from column indices in subsetting. In this case, there's nothing after the comma, which means "all columns."

In [ ]:
Subsetting in R refers to the process of extracting portions of data from data structures such as vectors, matrices, data frames, and lists. 
Here, I'll cover subsetting using a data frame, which is a common task in data analysis.

In [32]:
product=c("chips","soft drink","chocolate","chocolate","chips","icecream")
prices=c(20,45,50,50,20,90)
df=data.frame(product,prices)
message("DataFrame=")
print(df)
#Subset the first three rows and the first column
dfsubset<-df[1:3, 1]
message("Subset DataFrame=")
print(dfsubset)

DataFrame=

     product prices
1      chips     20
2 soft drink     45
3  chocolate     50
4  chocolate     50
5      chips     20
6   icecream     90

Subset DataFrame=

[1] chips      soft drink chocolate
Levels: chips chocolate icecream soft drink

## 5. Write a R program to perform the following:
## a. Display all rows of the data set having weight greater than 120.
## b. Display all rows of data set in ascending order of weight.
## (Use inbuilt data set woman)

In [ ]:
The women dataset is a built-in dataset in R. 
It contains the average heights and weights for American women aged 30â€“39. 
The dataset has 15 observations and 2 variables: height (in inches) and weight (in pounds).

In [16]:
# Viewing the women dataset
#print dataset
message("Women DataSet:")
print(women)

#viewing the first few rows of Women Dataset
message("Women DataSet Head and Tail:")
message("head:")
head(women)
message("tail:")
tail(women)

# Getting summary statistics for the women dataset
message("summary statistics:")
summary(women)

#Display all rows of the data set having weight greater than 120.
message("Display all rows of the data set having weight greater than 120.:")
weight<-women[women$weight>120,]
print(weight)

#Display all rows of data set in ascending order of weight.
message("Display all rows of data set in ascending order of weight.:")
message("Women DataSet ascending:")
sorted_data<-women[order(women$weight),]
print(sorted_data)
message("Women DataSet descending:")
sorted_data<-women[order(-women$weight),]
print(sorted_data)

Women DataSet:

   height weight
1      58    115
2      59    117
3      60    120
4      61    123
5      62    126
6      63    129
7      64    132
8      65    135
9      66    139
10     67    142
11     68    146
12     69    150
13     70    154
14     71    159
15     72    164

Women DataSet Head and Tail:
head:

  height weight
1 58     115
2 59     117
3 60     120
4 61     123
5 62     126
6 63     129

tail:

   height weight
10 67     142
11 68     146
12 69     150
13 70     154
14 71     159
15 72     164

summary statistics:

     height         weight
 Min.   :58.0   Min.   :115.0
 1st Qu.:61.5   1st Qu.:124.5
 Median :65.0   Median :135.0
 Mean   :65.0   Mean   :136.7
 3rd Qu.:68.5   3rd Qu.:148.0
 Max.   :72.0   Max.   :164.0

Display all rows of the data set having weight greater than 120.:

   height weight
4      61    123
5      62    126
6      63    129
7      64    132
8      65    135
9      66    139
10     67    142
11     68    146
12     69    150
13     70    154
14     71    159
15     72    164

Display all rows of data set in ascending order of weight.:
Women DataSet ascending:

   height weight
1      58    115
2      59    117
3      60    120
4      61    123
5      62    126
6      63    129
7      64    132
8      65    135
9      66    139
10     67    142
11     68    146
12     69    150
13     70    154
14     71    159
15     72    164

Women DataSet descending:

   height weight
15     72    164
14     71    159
13     70    154
12     69    150
11     68    146
10     67    142
9      66    139
8      65    135
7      64    132
6      63    129
5      62    126
4      61    123
3      60    120
2      59    117
1      58    115

## 6. Write a R program to perform the following:
## a. Display all the cars having mpg more than 20.
## b. Subset the data set by mpg column for values greater than 15.0
## c. Display all cars having four gears.
## (Use inbuilt data set mtcar)

In [50]:
#view dataset mtcars
message("Dataset mtcars:")
print(mtcars)
message("Dataset mtcars class:")
print(class(mtcars))
# miles per gallon (fuel efficiency) of the cars
message("Display all the cars having mpg more than 20.:")
mpg20=mtcars[mtcars$mpg>20,]
print(mpg20)

message("Subset the data set by mpg column for values greater than 15.0:")
#load dataset
data(mtcars)
subset_mtcars=mtcars[mtcars$mpg>15,]
message("subset_mtcars:")
print(subset_mtcars)
message("subset_mtcars class:")
print(class(subset_mtcars))

message("Display all cars having four gears.")
cars4gear=mtcars[mtcars$gear==4,]
print(cars4gear)

Dataset mtcars:

                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

Dataset mtcars class:

[1] "data.frame"

Display all the cars having mpg more than 20.:

                mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4      21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag  21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710     22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive 21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Merc 240D      24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230       22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Fiat 128       32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic    30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla 33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Toyota Corona  21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Fiat X1-9      27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2  26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa   30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Volvo 142E     21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

Subset the data set by mpg column for values greater than 15.0:
subset_mtcars:

                   mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Merc 240D         24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230          22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280          19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C         17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SE        16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL        17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC       15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Fiat 128          32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic       30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla    33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Toyota Corona     21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Dodge Challenger  15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin       15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Pontiac Firebird  19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Fiat X1-9         27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2     26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa      30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Ford Pantera L    15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino      19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Volvo 142E        21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

subset_mtcars class:

[1] "data.frame"

Display all cars having four gears.

                mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4      21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag  21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710     22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Merc 240D      24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230       22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280       19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C      17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Fiat 128       32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic    30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla 33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Fiat X1-9      27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Volvo 142E     21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2