## Assignment 1: R Programming Basics Program using List, Matrix, String and
## Factors Program using data frame and visualization

R language :

R programming is one of the most popular languages used in data science, statistical
computations or scientific research.

In [8]:
#R language Comments 
# syntax :
# comment Statement
#single-line comment

# this is 
# a multi-line 
# comment

In [54]:
#Variables in R language 

#R Programming Language is a dynamically typed language, 
#i.e. the R Language Variables are not declared with a data type 
#rather they take the data type of the R-object assigned to them.

#Declaring and initializing variable in R :
#assignment 

#using equal to operator
var = "Ella"
var #auto-print the value of the name variable
print(var) #print the value of the name variable

#using leftward operator
a <- "world"
c <- "to"
b <- "Hello"
print("Elliot")
paste(b,c,a) 
#paste() method in R programming is used to concatenate 
#The two string values are separated by delimiters.
#Syntax: paste(string1, string2, sep=)
#Return: Returns the concatenated string.

#Sprintf() : sprintf() is basically a C library function. 
#This function is use to print string as C language. 
#This is working as a wrapper function to print values and strings 
#together like C language. 
#This function returns a character vector containing a 
#formatted combination of string and variable to be printed.

#using the Rightward operator
12.0 -> var1
34.5 -> var2
result=sprintf("addition of %f + %f = %f",var1,var2,var1+var2)
print(result)
message("var1=",var1)

#class() function: 
#This built-in function is used to determine the data type of the variable
message("class() function:",paste(var1),class(var1))

#ls() function:
#This built-in function is used to know all the present variables in the workspace.
message("ls() function:",ls())

#rm() function:
#This is again a built-in function used to 
#delete an unwanted variable within your workspace.
#This helps clear the memory space allocated to certain variables 
#that are not in use thereby creating more space for others. 
#The name of the variable to be deleted is passed as an argument to it.
paste("rm() function:")
rm(result)
print(result)

[1] "Ella"

[1] "Ella"
[1] "Elliot"

[1] "Hello to world"

[1] "addition of 12.000000 + 34.500000 = 46.500000"

var1=12
class() function:12numeric
ls() function:abcresultvarvar1var2

[1] "rm() function:"

ERROR: Error in print(result): object 'result' not found

In [54]:
#Data Types in R language 

#Numeric :
#Set of all real numbers 
#"numeric_value <- 3.14"
num <- 12.1234512345123451
message("numeric=",num)
message("numeric class=",class(num))
message("numeric typeof=",typeof(num))

#integer
#Set of all integers, Z
#"integer_value <- 42L"
varint=as.integer(12)
message("integer=",varint)
message("integer class=",class(varint))
message("integer typeof=",typeof(varint))
varint=11L
message("integer",varint)
message("integer class=",class(varint))
message("integer typeof=",typeof(varint))

#Logical
#TRUE and FALSE	
#"logical_value <- TRUE"
a=10L
b=25L
cmp=a>b
message("logical=",cmp)
message("logical class=",class(cmp))
message("logical typeof=",typeof(cmp))

#Complex
#Set of complex numbers	
#"complex_value <- 1 + 2i"
cmplex=2+5i;
message("Complex=",cmplex)
message("Complex class=",class(cmplex))
message("Complex typeof=",typeof(cmplex))

#Character
#“a”, “b”, “c”, …, “@”, “#”, “$”, …., “1”, “2”, …etc	
#"character_value <- "Hello Geeks"
char1<-"a";
char2<-"String";
message("Character=",char1)
message("Character=",char2)
message("Character class=",class(char1))
message("Character class=",class(char2))
message("Character typeof=",typeof(char1))
message("Character typeof=",typeof(char2))

#raw
#as.raw()	
#"single_raw <- as.raw(255)"
#In R, the raw data type stores data as raw bytes, 
# and is often used to handle binary data. 
# It's the simplest R object and allows you to view variables as a sequence of bytes. 
# charToRaw() 
# rawToChar()
# intToBits()
intvar=as.integer(23)
message("intvar type=",typeof(intvar))
var_raw=as.raw(intvar)
#output:17 decimal to hexadecimal
print(var_raw)
# var=intToBits(num)
# print(var)
str="Prajwal"
var=charToRaw(str) 
# output:50 72 61 6a 77 61 6c hexadecimal byte for Prajwal
print(var)

numeric=12.1234512345123
numeric class=numeric
numeric typeof=double
integer=12
integer class=integer
integer typeof=integer
integer11
integer class=integer
integer typeof=integer
logical=FALSE
logical class=logical
logical typeof=logical
Complex=2+5i
Complex class=complex
Complex typeof=complex
Character=a
Character=String
Character class=character
Character class=character
Character typeof=character
Character typeof=character
intvar type=integer

[1] 17
[1] 50 72 61 6a 77 61 6c

In [ ]:
#Operators in R language

In R, operators are used to perform various operations on variables and values. Here’s a comprehensive overview of different types of operators available in R:

1. Arithmetic Operators
Arithmetic operators are used to perform basic mathematical operations:
+ : Addition
- : Subtraction
* : Multiplication
/ : Division
^ or ** : Exponentiation
%% : Modulus (remainder of the division)
%/% : Integer Division

2. Relational Operators
Relational operators are used to compare two values:
== : Equal to
!= : Not equal to
> : Greater than
< : Less than
>= : Greater than or equal to
<= : Less than or equal to

3. Logical Operators
Logical operators are used to combine conditional statements:
& : Element-wise logical AND
| : Element-wise logical OR
! : Logical NOT
&& : Logical AND (evaluates only the first element)
|| : Logical OR (evaluates only the first element)

4. Assignment Operators
Assignment operators are used to assign values to variables:
<- : Leftward assignment
-> : Rightward assignment
= : Leftward assignment

5. Miscellaneous Operators
: : Sequence generation
%in% : Membership (checks if an element belongs to a vector)
~ : Formula specification (used in modeling functions)
                   
6. Indexing and Subsetting Operators
[ ] : Indexing and subsetting
[[ ]] : Extracting elements from a list
$ : Accessing elements of a list or data frame by name

## Vector

A vector is a sequence of elements that share the same data type. 
These elements are known as components of a vector.
R vector is the basic data structure,

Vectors
in R are same as the arrays in C language which hold multiple data values of the same type.
One major key point is that in R the indexing of the vector will start from ‘1’ and not from
‘0’. We can create numeric vectors and character vectors as well.

R vector comes in two parts: Atomic vectors and Lists. These data structures differ in the type of their elements
Atomic vectors :  All elements of an atomi 
vector must be of the same type
Lists : s the elements of a list can have differe t
types.

The c ():
function in R is used to create vectors by combining multiple values into a single vector. 
It stands for "combine" or "concatenate". Here's a basic overview of how it works:

Syntax R
c(value1, value2, value3, ...)

In [6]:
#Types of Atomic Vector

#1. Numeric Data Type - Decimal values are referred to as numeric data types in R.
v1 <- c(12,3.4,5.7,8.9000)
message("v1 class=",class(v1))
message("v1 typeof=",typeof(v1))
message("printing vector v1=") 
print(v1)

#2. Integer Data Type - A numeric value with no fraction called integer data is represented by “Int”.
v2 <- c(as.integer(5),as.integer(5),as.integer(5),as.integer(5))
message("v2 class=",class(v2))
message("v2 typeof=",typeof(v2))
message("printing vector v2=") 
print(v2)
v3 <- c(2L,3L,4L,5L)        
message("v3 class=",class(v3))
message("v3 typeof=",typeof(v3))
message("printing vector v3=") 
print(v3)

#3. Character Data Type - The character is held as the one-byte integer in memory
v4 <-c('a','abc','abcd')
message("v4 class=",class(v4))
message("v4 typeof=",typeof(v4))
message("printing vector v4=") 
print(v4)

#4. Logical Data Type - A logical data type returns either of the two values – TRUE or 
#FALSE based on which condition is satisfied and NA for NULL values.
v5=c(TRUE,FALSE,NA,TRUE)
message("v5 class=",class(v5))
message("v5 typeof=",typeof(v5))
message("printing vector v5=") 
print(v5)

#5. Mixed Vector
v6 <-c("apple",12.0,12L,FALSE)
message("v6 class=",class(v6))
message("v6 typeof=",typeof(v6))
message("printing vector v6=") 
print(v6)

v1 class=numeric
v1 typeof=double
printing vector v1=

[1] 12.0  3.4  5.7  8.9

v2 class=integer
v2 typeof=integer
printing vector v2=

[1] 5 5 5 5

v3 class=integer
v3 typeof=integer
printing vector v3=

[1] 2 3 4 5

v4 class=character
v4 typeof=character
printing vector v4=

[1] "a"    "abc"  "abcd"

v5 class=logical
v5 typeof=logical
printing vector v5=

[1]  TRUE FALSE    NA  TRUE

v6 class=character
v6 typeof=character
printing vector v6=

[1] "apple" "12"    "12"    "FALSE"

In [ ]:
2. Using the ‘:’ Operator: We can create a vector with the help of the colon operator to
create vector of continuous values

In [34]:
Vect=1:5
cat("vect=",Vect,"class=",class(Vect),"length=",length(Vect))

vect= 1 2 3 4 5 class= integer length= 5

In [ ]:
3. Using the seq() function - In R, we can create a vector with the help of the seq()
function. A sequence function creates a sequence of elements as a vector. There are
also two ways in this. The first way is to set the step size and the second method is by
setting the length of the vector.

In [ ]:
The seq() function in R is used to generate sequences of numbers. 
It is a versatile function with several parameters that allow you to create sequences with different characteristics.

Syntax R :
seq(from, to, by, length.out, along.with, ...)

Parameters :
from: The starting value of the sequence.
to: The ending value of the sequence.
by: The increment of the sequence.
length.out: The desired length of the sequence.
along.with: Takes the length of this argument to determine the sequence length.

In [82]:
#from,to
Seq_v <- seq(from=as.integer(1),to=as.integer(5))
cat("Seq_v=",Seq_v,"class=",class(Seq_v),"length=",length(Seq_v),"\n")

#along.with
var1=1L;
var2=100L;
cat("var1=",var1,"class=",class(var1),"length=",length(var1),"\n")
cat("var2=",var2,"class=",class(var2),"length=",length(var2),"\n")
vectlen=c(1,2,3)
Seq_v2 <- seq(var1,var2,along.with=vectlen)
cat("Seq_v2=",Seq_v2,"class=",class(Seq_v2),"length=",length(Seq_v2),"\n")

#by
Seq_v <- seq(from=as.integer(1),to=as.integer(5),by=2)
cat("Seq_v=",Seq_v,"class=",class(Seq_v),"length=",length(Seq_v),"\n")

#by to reverse a seqence
Seq_v <- seq(from=as.integer(5),to=as.integer(1),by= -2)
cat("Seq_v=",Seq_v,"class=",class(Seq_v),"length=",length(Seq_v),"\n")

#length.out
Seq_v <- seq(from=as.integer(5),by= -1,length.out=10)
cat("Seq_v=",Seq_v,"class=",class(Seq_v),"length=",length(Seq_v),"\n")

Seq_v= 1 2 3 4 5 class= integer length= 5
var1= 1 class= integer length= 1
var2= 100 class= integer length= 1
Seq_v2= 1 50.5 100 class= numeric length= 3
Seq_v= 1 3 5 class= numeric length= 3
Seq_v= 5 3 1 class= numeric length= 3
Seq_v= 5 4 3 2 1 0 -1 -2 -3 -4 class= numeric length= 10

In [15]:
#Access Elements of R Vector

#Access elements using index, indexing starts with 1 instead of 0
x<-c(1,5,10,15,20,25)
cat("element using index=",x[2],"\n")

# by passing a range of values inside the vector index.
cat("using range in vector index=",x[c(3,5)],"\n")

# using logical expressions
cat("using logical expression=",x[x>5],"\n")

#indexing using character vector
char_vect<-c("prajwal"=15000,"kajal"=50000,"amit"=23000)
cat("indexing using character vector=",char_vect["kajal"],"\n")

#indexing using logical vector it returns the values of those positions whose
#corresponding position has a logical vector TRUE.
y<-c(1,2,4,8,16)
cat("index using logical vector=",y[c(TRUE,FALSE,FALSE,TRUE,FALSE)],"\n")

element using index= 5
using range in vector index= 10 20
using logical expression= 10 15 20 25
indexing using character vector= 50000
index using logical vector= 1 8

## SetA

## Set A
## 1. Write a R program to add, multiply and divide two vectors of integer type. (vector
## length should be minimum 4)

In [ ]:
User Input :
In R, you can take input from the user using the readline() function for simple text input. 
For more complex or multiple inputs, you can use scan().

# Prompt the user and take input
name <- readline(prompt = "Enter your name: ")
print(paste("Hello,", name))

# Prompt the user and take numeric input
age <- as.numeric(readline(prompt = "Enter your age: "))
print(paste("You are", age, "years old."))

# Prompt the user to enter multiple numbers
cat("Enter numbers separated by space (press Enter to finish): ")
numbers <- scan()
print(numbers)

# Prompt the user to enter multiple characters
cat("Enter words separated by space (press Enter to finish): ")
words <- scan(what = character())
print(words)

In [ ]:
scan() function in R Language is used to scan and read data.
It is usually used to read data into vector or list or from file in R Language.

Syntax:
scan(“data.txt”, what = “character”)

Parameter:
data.txt: Text file to be scanned

Returns: Scanned output

In [26]:
#question
#vector 1 
v1=c(1,2,3,4,5)
message("class=v1=",class(v1))
intV1=as.integer(v1)
message("class=intV1=",class(intV1)) 
message("Length=intV1=",length(intV1)) #find the length of Vector
print(intV1)

v2=c(5,4,3,2,1)
message("class=v2=",class(v2))
intV2=as.integer(v2)
message("class=intV2=",class(intV2))
message("Length=intV2=",length(intV2)) #find the length of Vector
print(intV2)

vectAdd=intV1+intV2
message("class=vectAdd=",class(vectAdd))
print(vectAdd)

vectMul=intV1*intV2
message("class=vectMul=",class(vectMul))
print(vectMul)

vectDiv=intV1/intV2
message("class=vectDiv=",class(vectDiv))
print(vectDiv)

class=v1=numeric
class=intV1=integer
Length=intV1=5

[1] 1 2 3 4 5

class=v2=numeric
class=intV2=integer
Length=intV2=5

[1] 5 4 3 2 1

class=vectAdd=integer

[1] 6 6 6 6 6

class=vectMul=integer

[1] 5 8 9 8 5

class=vectDiv=numeric

[1] 0.2 0.5 1.0 2.0 5.0

## 2. Write a R program to calculate the multiplication table using a function.

In [ ]:
#function Syntax:
function_name <- function(arg1, arg2, ...) {
  # Body of the function
  # Perform operations using arg1, arg2, ...
  return(value)
}

In [1]:
#simple function
sayHi <- function(){
    cat("hello R lang")
}

sayHi()

hello R lang

In [3]:
#loops 

#for loop
for(i in 1:5){
    cat("i=",i," ")
}
cat("\n")

#while
i=1
while(i<=5){
    cat("i=",i)
    i=i+1
}
cat("\n")

#repeat
i=1
repeat{
    cat("i=",i)
    if(i==5){
        break
    }
    i=i+1
}

i= 1  i= 2  i= 3  i= 4  i= 5
i= 1i= 2i= 3i= 4i= 5
i= 1i= 2i= 3i= 4i= 5

In [34]:
#question
tables<-function(arg1,size){
    var=as.integer(arg1)
    for(i in 1:size) {
        cat(var,"*",i,"=",var*i,"\n")
    }
}

cat("Tables in R: \n")
num<-as.integer(readline("enter num:"))
size<-as.integer(readline("enter size:"))
tables(num,size)

Tables in R:

enter num: 4
enter size: 10

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

## 3. Write a R program to sort a list of strings in ascending and descending order.

In [ ]:
In R, lists :
are the second type of vector. Lists are the objects of R which contain elements of
different types such as number, vectors, string and another list inside it. It can also contain a
function or a matrix as its elements. A list is a data structure which has components of mixed
data types.

In [ ]:
The process of creating a list :
is the same as a vector. In R, the vector is created with the help
of c() function. Like c() function, there is another function, i.e., list() which is used to create a
list in R.

In [ ]:
A list avoid the drawback of the vector which is data type. We can add the elements
in the list of different data types.

In [13]:
#list Eg1

empid=c(1,2,3,4)

empnames=c("a","b","c","d")

empcount=4

empDetailList=list(empid,empnames,empcount)

message("Access list using index:")
print(empDetails[2])

# list Eg2
list2=list("apple","samsung",c(34000,75000))
list2

Access list using index:

[[1]]
[1] "a" "b" "c" "d"

[[1]]
[1] "apple"

[[2]]
[1] "samsung"

[[3]]
[1] 34000 75000

In [ ]:
sort() function is used with the help of which we can
sort the values in ascending or descending order.
sort in descending order by setting decreasing as TRUE

unlist()
unlist() is used to convert the list to a vector 
because the sort() function works on vectors.
After sorting, sorted_list contains the sorted elements of the original list.

In [26]:
#question
#list
strList=list("Ball","Cat","Apple","Dog")

Asc_sort_list=sort(unlist(strList))
cat("str list in Ascending order=",Asc_sort_list,"class=",class(Asc_sort_list),"\n")

Desc_sort_list=sort(unlist(strList),decreasing=TRUE)
cat("str list in Descending order=",Desc_sort_list,"class=",class(Desc_sort_list),"\n")

str list in Ascending order= Apple Ball Cat Dog class= character
str list in Descending order= Dog Cat Ball Apple class= character

## 4. Write a script in R to create a list of employees and perform the following:
## a. Display names of employees in the list.
## b. Add an employee at the end of the list.
## c. Remove the third element of the list.

In [ ]:
R allows us to add, delete, or update elements in the list. We can update an element of a list
from anywhere, but elements can add or delete only at the end of the list. To remove an
element from a specified index, we will assign it a null value. We can update the element of a
list by overriding it from the new value.

In [15]:
Employees=list("Kajal","Priya","Neha","Amit")

#display names of Employees
for(E in Employees){
    cat("Emp Name:",E,"\n")
}

#add emp at end of list
message("add emp:")
Employees=append(Employees,"Prajwal")
#cat("appended list=",Employees,"\n")
Employees
print(Employees)
#remove the third element of the list
Employees[3]<-NULL
message("3 index:")
print(Employees[3])
message("3 index removed:")
print(Employees)

Emp Name: Kajal
Emp Name: Priya
Emp Name: Neha
Emp Name: Amit

add emp:

[[1]]
[1] "Kajal"

[[2]]
[1] "Priya"

[[3]]
[1] "Neha"

[[4]]
[1] "Amit"

[[5]]
[1] "Prajwal"

[[1]]
[1] "Kajal"

[[2]]
[1] "Priya"

[[3]]
[1] "Neha"

[[4]]
[1] "Amit"

[[5]]
[1] "Prajwal"

3 index:

[[1]]
[1] "Amit"

3 index removed:

[[1]]
[1] "Kajal"

[[2]]
[1] "Priya"

[[3]]
[1] "Amit"

[[4]]
[1] "Prajwal"

In [72]:
list_data=list(c("stud1","stud2","stud3"),matrix(c(15,16,16,17,18,19,19,19,19),ncol=3),list("BCA","BSC(cyber)","BCS"))

print(list_data)

#Use list_data[[2]] to extract the matrix from the list.
#Note the use of double square brackets [[ ]] to access the matrix directly, not as a list containing a matrix.
mat=list_data[[2]]
print(mat[,2])

print(list_data[3])

#print single student record
cat(list_data[[1]][1],list_data[[2]][,1],print(list_data[[3]][[1]]))

[[1]]
[1] "stud1" "stud2" "stud3"

[[2]]
     [,1] [,2] [,3]
[1,]   15   17   19
[2,]   16   18   19
[3,]   16   19   19

[[3]]
[[3]][[1]]
[1] "BCA"

[[3]][[2]]
[1] "BSC(cyber)"

[[3]][[3]]
[1] "BCS"


[1] 17 18 19
[[1]]
[[1]][[1]]
[1] "BCA"

[[1]][[2]]
[1] "BSC(cyber)"

[[1]][[3]]
[1] "BCS"


[1] "BCA"
stud1 15 16 16 BCA